main{
    background-color: #ADA9B7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    max-width: 75%;
    margin: 0 auto;
    padding: 2%;
}

.inputField{
    display: flex;
    align-items: center;
    justify-content: center;
}

.outputMain{
    width: 90%;
    margin: 0 auto;
    padding: 2%;
    background-color: #F0F2FC;
    border-radius: 30px;
}

.heading{
    font-size: clamp(30px, 3.5vw, 80px );
    font-weight: 600;
    display: flex;
    align-items: center;
    
    .temp{
        margin-left: auto;
        margin-right: 2vw;
    }
}

.location{
    
}

.subHeading{
    font-size: 1.5em;
}